.DS_Store
*.py[cod]
__pycache__/

.venv/
venv/
env/

.env

translation_generator/logs/*
!translation_generator/logs/.gitkeep

translation_generator/output/*
!translation_generator/output/.gitkeep

translation_generator/uploads/*
!translation_generator/uploads/.gitkeep